.img-vino img {
  width: 50%;
  max-height: 100vh;
  transform: scale(1.2);
}

.col-detail {
  height: auto;
  background-color: #ffff;
  padding: 2rem;
  color: #2c3136;
}

.col-detail h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.description {
  font-size: 1rem;
  font-weight: 300;
}

.description-footer {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  border-top: 1px solid #b2936d;
}

/* .description-footer span {
    padding-top: 1rem;
    border-bottom: 1px solid #b0b1b1;
  } */

.marca {
  color: #b2936d;
  font-family: Cinzel, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.detail {
  padding-top: 1rem;
  border-bottom: 1px solid #b0b1b1;
}

.tipo {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding-right: 3rem;
}

.tipo-dato {
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}

@media (max-width: 576px) {
  .img-vino img {
    height: auto;
  }
}
