.formulario {
  margin: 2rem 0 2rem 0;
  padding: 2rem 1rem 2rem 1rem;
  background-color: #f4f4f4;
  font-family: "Lato", sans-serif;
  border: 1px solid #b2936d;
  box-shadow: -1px 1px 7px #b2936d90;
}

.formulario h1 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Cinzel", sans-serif;
  letter-spacing: 1px;
  color: #b2936d;
}

.formulario label {
  color: #2c3136;
  font-size: 1rem;
}

.formulario input,
select {
  padding: 0.2rem;
  border: 1px solid #b2936d;
  background-color: #f4f4f4;
  color: #2c3136;
}

.formulario input:focus {
  outline: none;
}

.formulario button,
input[type="submit"] {
  padding: 0.3rem 0.2rem;
  border: 1px solid #b2936d;
  background-color: #b2936d;
  color: #2c3136;
  width: 100%;
}
/* seguir aca */
.formulario button:hover,
input[type="submit"]:hover {
  background-color: #f4f4f4;
  color: #b2936d;
  border-color: #b2936d;
}

.form-error {
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: #d55b5b;
}

.form-errorCart {
  background-color: #d55b5b;
  padding: 0.5rem;
  margin-top: 2rem;
}
