.card {
  text-align: center;
  background-color: #2c313600;
  border: none;
  border-radius: 0;
  width: 15rem;
  transition: 500ms;
}

.card:hover {
  box-shadow: 0px 0px 12px #2c313650;
}

.card-img-top {
  max-width: 35%;
  border-radius: 0;
}

.card-price {
  color: #7d7f81;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.card-title {
  color: #2c3136;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.card-variety {
  color: #2c3136;
  font-size: 1rem;
  margin-bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .panel-vinos {
    justify-content: space-evenly;
  }
  .card {
    width: 8rem;
  }
  .card-img-top {
    max-width: 35%;
  }
  .card-title {
    font-size: 1rem;
  }

  .card-variety {
    font-size: 0.8rem;
  }
}
