.accordion {
  padding: 0rem;
}

.accordion-item {
  margin: 0rem;
  color: red;
}

.accordion-button {
  color: #b2936d;
  background-color: #f4f4f4;
  border: 1px solid #b2936d;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #b2936d;
}

.accordion-button:not(.collapsed) {
  color: #b2936d;
  background-color: #f4f4f4;
  border: 1px solid #b2936d;
}

.accordion-body {
  background-color: #f4f4f4;
  border: 1px solid #b2936d;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0rem;
}
