.nav-bar {
  background-color: #2c3136;
}

.cart {
  width: 40px;
}

.nav-link {
  color: whitesmoke;
  font-family: "Monserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 1rem;
  padding-top: 1.5rem;
  transition: 500ms;
}

.nav-link:hover {
  color: #b2936d;
}

.nav-link:focus {
  color: #b2936d;
}

.navbar-brand img {
  width: 200px;
}

.nav-login {
  color: whitesmoke;
  text-transform: uppercase;
}

.nav-login:hover {
  color: #b2936d;
}

@media (min-width: 768px) {
  #basic-navbar-nav {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .cart-login {
    display: flex;
    flex-direction: column;
  }
}
