.footer {
  background-color: #2c3136;
  padding: 2rem;
}

.logo {
  width: 200px;
}

.container-footer {
  padding-top: 1.5rem;
}

.footer-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffff;
}

.footer-description {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7d7f81;
}

.footer-derechos {
  font-size: 1rem;
  font-weight: 400;
  color: #b0b1b1;
}

.footer-social i {
  font-size: 1.8rem;
  color: #b2936d;
  padding: 0.5rem;
}

.footer-social i:hover {
  color: #ebc392;
}
