* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #ffffff;
  font-family: lato, sans-serif;
}

/* Home */

.home {
  background-image: url("/public/assets/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
}

.btn-home {
  background-color: transparent;
  color: #b2936d;
  border: 1px solid #b2936d;
  padding: 0.2rem 0.4rem;
  font-size: 1.8rem;
  font-family: "Cinzel", sans-serif;
  text-decoration: none;
  transition: 500ms;
}

.btn-home:hover {
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

/* Animacion btn home */
.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* Login */

.login {
  margin: 2rem 0 2rem 0;
  padding: 3rem 1rem 3rem 1rem;
  background-color: #f4f4f4;
  font-family: "Lato", sans-serif;
  border: 1px solid #b2936d;
  box-shadow: -1px 1px 8px #b2936d90;
}

.login-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Cinzel", sans-serif;
  letter-spacing: 1px;
  color: #b2936d;
}

.login-forgot {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #2c3136;
}

.login label {
  color: #2c3136;
  font-size: 1rem;
}

.login input {
  padding: 0.2rem;
  border: 1px solid #b2936d;
  background-color: #f4f4f4;
  color: #2c3136;
}

.login input:focus {
  outline: none;
}

.login button {
  padding: 0.3rem 0.2rem;
  border: 1px solid #b2936d;
  background-color: #b2936d;
  color: #2c3136;
}

.login button:hover {
  background-color: #f4f4f4;
  color: #b2936d;
  border-color: #b2936d;
}

.login a {
  text-decoration: none;
  color: #b2936d;
}

.login a:hover {
  color: #7d7f81;
}

.login span {
  color: #2c3136;
}

.test-user {
  background-color: #b2936d;
  box-shadow: -1px 1px 4px #2c313680;
}

.test-user h4:hover {
  color: #ffffff;
}

/* PROFILE */

.perfil {
  background-color: #b2936d;
}

.perfil_details h1 {
  font-size: 1.5rem;
  font-family: "Cinzel", sans-serif;
}

.perfil_details img {
  border-radius: 100%;
  max-width: 75px;
}

.perfil_details button {
  padding: 0.2rem 0.4rem;
  background-color: #f4f4f4;
  color: #b2936d;
  border: none;
  font-size: 1rem;
}

.perfil_details button:hover {
  background-color: #2c3136;
  color: #b2936d;
}

.perfil-subtitle {
  color: #b2936d;
  font-family: "Cinzel", sans-serif;
}

.perfil-orders {
  min-height: 70vh;
}

@media (min-width: 768px) {
  .spinner {
    position: relative;
    left: 50%;
    top: 10%;
  }
}
